<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tutorialesprogramacionya.proyecto019">

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Prototipo Lector NFC"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Inicio">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            android:theme="@style/AppTheme.NoActionBar"
        </activity>

        <receiver android:name=".NetworkMonitor">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Mostrar"
            android:label="All Products" />
        <activity
            android:name=".recycler"
            android:label="@string/title_activity_recycler"
            android:theme="@style/AppTheme" />
        <activity android:name=".MostrarTodo" />
        <activity android:name=".RecyclerListado" />
        <activity android:name=".RecyclerMovimiento" />
        <activity android:name=".RecyclerMovimientoOnline" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".LoginActivitys"
            android:label="@string/title_activity_login_activitys"></activity>
    </application>

</manifest>